# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Production artifacts
/build
dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Large raw media
/asset/
public/assets/video/FINAL3.mp4
public/assets/video/FINAL3_web.mp4

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
